node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.env
config/runtime-env.json
config/*.json
*.md~


server_very_old.js
/nzbdav-main

EASYNEWS_INDEXER

statPipelineBenchmark.js


test_nzbs/
scripts